
@font-face {
  font-family: 'F_aram';
  src: url('F_aram.eot?#iefix') format('embedded-opentype'),  url('F_aram.woff') format('woff'), url('F_aram.ttf')  format('truetype'), url('F_aram.svg#F_aram') format('svg');
  font-weight: normal;
  font-style: normal;
}
